[printer]
kinematics: cartesian
max_z_velocity: 10 #safety
max_z_accel: 100   #safety
max_velocity: 300          
max_accel: 3000 #3000           #max 4k, stock 3k

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_min: 0
position_max: 245.1
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -8 #0
position_min: -8 #0 #most Ender 3 configs have this wrong. Between the nozzle and the bed is a gap of 8mm (Y dimension) when the printer is homed. If not adapt this and the -8 in the Probe_In Makro).
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: PB5 #!PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
position_max: 220 #muuta sitte ku tietää max z
position_min: -8 # set a negative value (minimum as the probe z_offset)



[extruder]
max_extrude_only_distance: 100.1
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 22.67895 #vakiot -> 33.477038 #32.47272 nozzlen läpi kalibroitu, #33.477038 100mm extruderin läpi, 34.406 stock
gear_ratio: 50:8
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G #EPCOS 100K B57560G104F ender stock
sensor_pin: PC5
min_temp: 0
max_temp: 250
#max_extrude_only_accel: 500.0 #mm/s^2 so high accel on other steppers wont affect extruder  
#min_extrude_temp: 0 #for esteps extrude without heating #######################################################################################
#pressure_advance = 0

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#bltouch]
#sensor_pin: ^PB1
#control_pin: PB0
#x_offset: -41.4 
#y_offset: -10 
##z_offset: 0.515 #PLA
##z_offset: 0.435 #PETG +0.1 eli -0.1 koska korkeampi numero = lähemmäs petiä
##probe_with_touch_mode: True
#stow_on_each_sample: False
##sample_retract_dist: 4.0

[probe]
pin: ^PA7 #Z_endstop port
z_offset: 0 #Measure per your specific setup
x_offset: 4 # negative = left of the nozzle
y_offset: 21 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu


# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

##
###https://github.com/dudeofawesome/klipper-config/blob/master/skr-mini-e3-v1.2.cfg

