#####################################################################
# KlackEnder- Menu
#####################################################################


#[menu __main]
#type: list
#name: Main

[menu __main __KlackEnder]
type: list
enable: True
name: KlackEnder

[menu __main __KlackEnder __ProbeOut]
type: command
name: Probe Out
gcode:
  PROBE_OUT

[menu __main __KlackEnder __ProbeIn]
type: command
name: Probe In
gcode:
  PROBE_IN

[menu __main __KlackEnder __AutoBedMesh]
type: command
name: Auto Bed Mesh
gcode:
  G28
  AUTO_BED_MESH


#[menu __main KlackEnder]
#name: KlackEnder
#[menu __main KlackEnder ProbeOut]
#name: Probe Out
#icon: arrow-left
#method: printer.gcode.script
#params: {"script":"PROBE_OUT"}
#[menu __main KlackEnder ProbeIn]
#name: Probe In
#icon: arrow-right
#method: printer.gcode.script
#params: {"script":"PROBE_IN"}
#[menu __main KlackEnder AutoBedMesh]
#name: Auto Bed Mesh
#icon: bed-mesh
#method: printer.gcode.script
#params: {"script":"AUTO_BED_MESH"}